@(comicDetail : ComicDetail, creators : List[ComicCreator], comicConditions : List[ComicCondition])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
<img src="/comicimage/@comicDetail.getComicId" width="300"><br/>

    <input type="file" id="filename" name="filename">

<h1>Title</h1><br>
<label>@comicDetail.getTitle()</label>

<h1>Issue</h1><br>
<labe1>@comicDetail.getIssueNumber()</labe1>

<h1>Creators</h1><br>
@for(creator <- creators){
<label>@creator.getCreatorName()</label><br>
}


<h1>Publication Date</h1>
<label>@comicDetail.getPublicationDate()</label>

<h1>Condition</h1>
    <select name="conditionId">
        @for(comicCondition <- comicConditions){
        @if(comicCondition.getConditionId == comicDetail.getConditionId){
        <option selected="true" value="@comicCondition.getConditionId()">@comicCondition.getConditionName()
        </option>
        }else{
        <option value ="@comicCondition.getConditionId()">@comicCondition.getConditionName()</option>
        }
        }
    </select>

<h1>Description</h1><br>
    <textarea name="description" id="description" rows="4" cols="50">@comicDetail.getDescription()</textarea>
<h1>Retail Price</h1><br>
<label>@comicDetail.getRetailPrice()</label>

<h1>Market Price</h1><br>
<label>@comicDetail.getMarketPrice()</label><br>
    <button type="submit">Save</button><a href="/comicsearch"><button>Cancel</button></a>
</form>
</body>
</html>

