@(comicDetail : ComicDetail, creators : List[ComicCreator])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <img src="/comicimage/@comicDetail.getComicId" width="300"><br/>
<h1>Title</h1><br>
<label>@comicDetail.getTitle()</label>

<h1>Issue</h1><br>
<labe1>@comicDetail.getIssueNumber()</labe1>

<h1>Creators</h1><br>
    @for(creator <- creators){
<label>@creator.getCreatorName()</label><br>
    }

<h1>Publisher</h1>
<label>@comicDetail.getPublisher()</label>

<h1>Publication Date</h1>
<label>@comicDetail.getPublicationDate()</label>

<h1>Description</h1><br>
<label>@comicDetail.getDescription()</label>

<h1>Retail Price</h1><br>
<label>@comicDetail.getRetailPrice()</label>

<h1>Market Price</h1><br>
<label>@comicDetail.getMarketPrice()</label>
</body>




