<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <img src="/assets/images/Batman1.jpg"><br/>
<h1>Title</h1><br>
<label>Batman</label>
<h1>Issue</h1><br>
<labe1>01</labe1>
<h1>Creators</h1><br>
<label>Bob Kane, Bill Finger</label>
<h1>Description</h1><br>
<label>First Batman Book</label>
<h1>Retail Price</h1><br>
<label>$0.12</label>
<h1>Market Price</h1><br>
<label>300,000.00</label>
</body>

