@(creators : List[ComicCreator], comicConditions : List[ComicCondition], comicTitle : List[ComicTitle], publishers : List[Publisher])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">



    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >Cosmic Comic Collector</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/comicsearch">List</a></li>
            <li class="active"><a href="/comicadd">Add Comic</a></li>
            <li><a href="/comicstats">Statistics</a></li></ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
    </div>
</nav>

<div class="container" style="margin-top:110px">
    <div class="row">
        <div class="col-sm-5">
<form method="POST" enctype="multipart/form-data">
<img src=/assets/images/no-image-placeholder.png width="350"><br/>
    <input type="file" id="filename" name="filename">
        </div>

        <div class="col-sm-3">
            <h3>Title</h3>
            <select name="titleId">
                @for(comicTitle <- comicTitle){
                <option selected="true" value="@comicTitle.getTitleId()">@comicTitle.getTitleName()
                </option>
            }
            </select>

            <h3>Issue</h3>
            <input type="number" id="issueNumber" name="issueNumber">

            <h3>Creators</h3>
                <select name ="creators[]" id="creators" multiple="multiple">
                    @for(creator <- creators){
                    <option value="@creator.getComicCreatorId">@creator.getCreatorName()</option>
                    }
                </select>


            <h3>Publication Date</h3>
            <input type="date" id="publicationDate" name="publicationDate">

            <h3>Publisher</h3>
            <p>*Publisher is specific to title*</p>
        </div>

        <div class="col-sm-4">
            <h3>Condition</h3>
            <select name="conditionId">
                @for(comicCondition <- comicConditions){
                <option selected="true" value="@comicCondition.getConditionId()">@comicCondition.getConditionName()
                </option>
                }
            </select>

            <h3>Description</h3>
            <textarea name="description" id="description" rows="4" cols="50"></textarea>
            <h3>Retail Price</h3>
            <input type="number" id="retailPrice" name="retailPrice" step=".01">

            <h3>Market Price</h3>
            <input type="number" id="marketPrice" name="marketPrice" step=".01"><br/><br/>
            <input type="submit" class="btn btn-info" value="Save"></form><a href="/comicsearch" class="btn btn-info" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>

