@(comicDetails : List[ComicDetail])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comic Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Comics</h1>
<form method="GET">
    <input type="text" name="searchcriteria" id="searchcriteria"/>
    <button type="submit">Search</button>
    </form>
<table>
    <tr>
    <th>Cover</th>
    <th>Title</th>
    <th>Issue #</th>
    <th>Publisher</th>
    <th>Publication Date</th>
    <th>Condition</th>
    <th>Retail Price</th>
    <th>Market Value</th>
    </tr>
        @for(comicDetail <- comicDetails) {
    <tr>
        <td><img src="/comicimage/@comicDetail.getComicId()" width="50"></td>
        <td><a href="/comic/@comicDetail.getComicId()">@comicDetail.getTitle()</a></td>
        <td>@comicDetail.getIssueNumber()</td>
        <td>@comicDetail.getPublisher()</td>
        <td>@comicDetail.getPublicationDate</td>
        <td>@comicDetail.getConditionName</td>
        <td>@comicDetail.getRetailPrice()</td>
        <td>@comicDetail.getMarketPrice()</td>
        <td><a href="/comicedit/@comicDetail.getComicId()"><button>Edit</button></a></td>
    </tr>
}
</table>
</body>